<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @test.nombre %>
</p>

<p>
  <strong>Colegio:</strong>
  <%= @test.colegio %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @test.nivel %>
</p>

<p> <%= @a %></p>

<p><%= @b%></p>

<p><%= @c%></p>

<p><%= @d%></p>

<p><%= @e%></p>




<p>
  <strong>Seccion:</strong>
  <%= @test.seccion %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @test.edad %>
</p>

<p>
  <strong>Ic:</strong>
  <%= @test.ic %>
</p>

<p>
  <strong>Icm:</strong>
  <%= @test.icm %>
</p>

<p>
  <strong>Pi num:</strong>
  <%= @test.pi_num %>
</p>

<p>
  <strong>Pi comp:</strong>
  <%= @test.pi_comp %>
</p>

<p>
  <strong>Pi cal:</strong>
  <%= @test.pi_cal %>
</p>

<p>
  <strong>Pi conc:</strong>
  <%= @test.pi_conc %>
</p>

<p>
  <strong>Pf conv:</strong>
  <%= @test.pf_conv %>
</p>

<p>
  <strong>Pf hecho:</strong>
  <%= @test.pf_hecho %>
</p>

<p>
  <strong>Pf calc:</strong>
  <%= @test.pf_calc %>
</p>

<p>
  <strong>Pf conce:</strong>
  <%= @test.pf_conce %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
